.strike {
    text-decoration: line-through;
  }
  .header{
      padding: 15px;
      border: 1px solid #cccccc;
      width: 400px;
      margin: 10px auto;
      position: relative;
      overflow: auto;
      background-color: bisque;

  }
  #enter{
      background: red;
      position: absolute;
      border-radius: 2px;
      cursor: pointer;
      color: #ffffff;
  }
  .delete{
    background: red;
    position: absolute;
    border-radius: 2px;
    cursor: pointer;
    color: #ffffff;
  }
  ul{
      list-style: none;
  }